<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analysis</title>
</head>

<body>
    <button onclick={executePythonScript()}>Analize</button>
</body>
<script>
    import axios from 'axios';
    const executePythonScript = () => {
        axios.post('/execute-python-script')
            .then(response => {
                console.log(response.data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    };
</script>

</html>